<div class="panel panel-default">
    <div class="panel-heading">
        Create a new template grid
    </div>
    <div class="panel-body row xs-gutters inside-bootstrap-master">
        <div class="inside-bootstrap">
            <div class="col-xs-1" data-index="1">
            </div>
            <div class="col-xs-1" data-index="2">
            </div>
            <div class="col-xs-1" data-index="3">
            </div>
            <div class="col-xs-1" data-index="4">
            </div>
            <div class="col-xs-1" data-index="5">
            </div>
            <div class="col-xs-1" data-index="6">
            </div>
            <div class="col-xs-1" data-index="7">
            </div>
            <div class="col-xs-1" data-index="8">
            </div>
            <div class="col-xs-1" data-index="9">
            </div>
            <div class="col-xs-1" data-index="10">
            </div>
            <div class="col-xs-1" data-index="11">
            </div>
            <div class="col-xs-1" data-index="12">
            </div>
        </div>
        <div id="editor-cursor-master" class="col-xs-1" data-size="1" data-offset="0" data-height="90" data-start="0">
            <div class="row editor-cursor">
                <div class="editor-cursor-left text-center" draggable="true" ng-mousedown="editorCtrl.move()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </div>
                <div class="editor-cursor-center text-center" ng-click="editorCtrl.addGrid()">
                    <span class="glyphicon glyphicon-ok"></span>
                </div>
                <div class="editor-cursor-right text-center" draggable="true" ng-mousedown="editorCtrl.expand()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
                <div ng-show="editorCtrl.isLarge" class="editor-cursor-bottom text-center" ng-click="editorCtrl.reduce()">
                    <span class="glyphicon glyphicon-chevron-up" draggable="true"></span>
                </div>
                <div class="editor-cursor-bottom text-center" ng-click="editorCtrl.sprout()">
                    <span class="glyphicon glyphicon-chevron-down" draggable="true" ></span>
                </div>
            </div>
        </div>
    </div>
</div>
