<div class="panel panel-default">
    <div class="panel-heading">
        Choisir le grid-template pour la page <span ng-click="exitCtrl.close()" class="btn btn-default pull-right">close</span>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="col-xs-1">
            <div class="btn btn-default text-center" ng-click="exitCtrl.addGrid()">
                <span class="glyphicon  glyphicon-plus fs_70"></span>
            </div>
        </div>
    </div>
</div>