@model appPDU.Models.ContainerModel
<div id="@Model.Name" component-selector class="@String.Join(" ", Model.Attributes.ClassList.ToArray())">
    @Html.Raw(Model.Data)
    @foreach(var child in Model.Children)
    {
            @await Component.InvokeAsync(child.TypeName,child) 
    }
</div>