@model List<appPDU.Models.WebPageModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container component-page-creator">
    <div class="content">
        <ul>
            <li>Pages</li>
            @foreach (var page in Model)
            {
                <li><a href="~/Editor/@page.Name">Modifier</a><a href="~/@page.Name">Visiter</a><a component-open-page="@page.Id.ToString()">Properties</a><span>@page.Title -> @page.Description</span><span class="date">dernier revision : @page.DateCreate.ToString()</span> </li>
            }
        </ul>
        <br />
        <br />
        <a component-open-page>Nouvelle Page</a>
    </div>
</div>