/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.root {
    width: 1020px;
    display: block;
    margin: 0 auto;
    background-color: darkslategray;
}

.head {
    display: block;
    width: 100%;
    height: 200px;
    background-color: #A1887F;
}

.main {
    display: block;
    width: 700px;
    float: left;
    height: 400px;
    background-color: #D7CCC8;
}

.main-center {
    display: block;
    width: 1020px;
    height: 400px;
    background-color: #D7CCC8;
}

.side-right, .side-left {
    display: block;
    width: 320px;
    float: left;
    height: 400px;
    background-color: #BCAAA4;
}

.foot {
    clear: both;
    display: block;
    width: 100%;
    height: 200px;
    background-color: #8D6E63;
}

.item-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

    .item-menu > .component-menu {
        display: block;
    }

.component-menu ul {
}

    .component-menu ul li:first-child {
        border-left: 1px solid #3E2723;
    }

    .component-menu ul li {
        float: left;
        text-align: center;
        border-top: 1px solid #3E2723;
        border-right: 1px solid #3E2723;
        border-bottom: 1px solid #3E2723;
        color: #EFEBE9;
        background-color: #4E342E;
        cursor: pointer;
        font-family: sans-serif;
        font-size: 12px;
        padding: 5px 10px;
    }

        .component-menu ul li:hover {
            background-color: #5D4037;
        }

.modal {
    display: none;
    width: 100% !important;
    height: auto;
    background-color: rgba(239,235,233,0.5);
    position: absolute !important;
    z-index: 99;
    min-height:100%;
    top: 0;
    width: 0;
    bottom:auto !important;
}

.modal-window {
    display: block;
    width: 1200px;
    min-height: 600px;
    margin: 0px auto;
    background-color: #EFEBE9;
    -moz-box-shadow: 0px 0px 5px 0px #795548;
    -webkit-box-shadow: 0px 0px 5px 0px #795548;
    box-shadow: 0px 0px 5px 0px #795548;
}

.component-page-creator {
    width: 1020px;
    height: 800px;
    display: block;
    margin: 0 auto;
    background-color: #D7CCC8;
    font-family: sans-serif;
    padding: 15px;
}

    .component-page-creator > div.content {
        background-color: #f9f9f9;
        padding: 15px;
    }

        .component-page-creator > div.content a {
            font-size: 0.8em;
            text-decoration: none;
            background-color: #E0E0E0;
            border-top: 1px solid #E0E0E0;
            border-bottom: 1px solid #E0E0E0;
            border-right: 1px solid #BDBDBD;
            margin: 0px;
            padding: 15px 7px;
            cursor: pointer;
            color: #616161;
        }

            .component-page-creator > div.content a:hover {
                background-color: #EEEEEE;
            }

        .component-page-creator > div.content span {
            padding: 15px 7px;
            display: inline-block;
        }

        .component-page-creator > div.content span {
            padding: 15px 7px;
            display: inline-block;
        }


.fs_8 {
    font-size: 8px;
}

.fs_10 {
    font-size: 10px;
}

.fs_12 {
    font-size: 12px;
}

.fs_14 {
    font-size: 14px;
}

.fs_15 {
    font-size: 15px;
}

.fs_16 {
    font-size: 16px;
}

.fs_18 {
    font-size: 18px;
}

.fs_20 {
    font-size: 20px;
}

.fs_26 {
    font-size: 26px;
}

.fs_30 {
    font-size: 30px;
}

.fs_35 {
    font-size: 35px;
}

.fs_70 {
    font-size: 70px;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

    .row.no-gutters > [class^="col-"],
    .row.no-gutters > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }

.row.xs-gutters {
    margin-right: 5px;
    margin-left: 5px;
    padding:5px;
}

    .row.xs-gutters > [class^="col-"],
    .row.xs-gutters > [class*=" col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }



.inside-bootstrap-master {
    position: relative;
}
.inside-bootstrap-master > .new-container{
    background-color:#455A64;
    opacity:0.8;
    box-shadow: inset 0px 0px 2px 1px white;
}
.inside-bootstrap {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    margin-left: -5px;
    margin-right: -5px;
}

    .inside-bootstrap > div {
        height: 100%;
        background-color: #ECEFF1;
        box-shadow: inset 0px 0px 0px 15px #CFD8DC;
    }

#editor-cursor-master {
    transition: 250ms cubic-bezier(0.22, 0.61, 0.36, 1);
    color: white;
    opacity: 0.8;
}

.editor-cursor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    background-color: #78909C;
}

    .editor-cursor > div {
        box-shadow: inset 0px 0px 2px 1px white;
        min-height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #607D8B;
    }

    .editor-cursor > .editor-cursor-left, .editor-cursor > .editor-cursor-right {
        max-width: 20px;
        min-width: 20px;
    }
    .editor-cursor > .editor-cursor-left {
        cursor:e-resize;
    }
    .editor-cursor > .editor-cursor-right {
        cursor:w-resize;
    }

    .editor-cursor > .editor-cursor-center {
        flex: 1 auto;
        flex-grow: 1;
        cursor:pointer;
    }

    .editor-cursor > .editor-cursor-center:hover {
        flex: 1 auto;
        flex-grow: 1;
         color: #607D8B;
         background-color: white;
    }

    .editor-cursor > .editor-cursor-bottom {
        flex: 1 100%;
        min-height: 20px;
        cursor:pointer;
    }
    .container>div{
        min-height:90px;
        border:1px solid black;
    }
